:root {
    font-size: 12px;
}


#mainWrapper {
    display: flex;
    flex-direction: column;
}

.itemCard {
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
}

.dropdown-element {
    display: none;
}

.show {
    display: block;
}