:root {
    font-size: 12px;
}


#mainWrapper {
    display: flex;
    flex-direction: column;
}

.itemCard {
    display: grid;
    grid-template: 1fr / 2fr 1fr 1fr;
}

.expand-detail {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr 1fr 1fr;
    grid-column: 1/4;
}

.dropdown-element {
    display: none;
}



#mainArea {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 10px;
}

#contentWrapper {
    border-style: double;
    padding: 10px;
    border-radius: 10px;
}

.itemCard button {
    border-radius: 5px;
    padding: 5px;
    width: 95%;
    height: 30px;
}

.dropdown-div-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.dropdown-div-element button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: red;
    background-color: transparent;
    font-weight: 800;
}

#inputFormItems {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dropdown-div-element:hover {
    background-color: blueviolet;
}

#sideControl,
.dropdown-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#dropdown-div {
    border-style: double;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
}